*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ,Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 5px;
}
Body{
    background: #e3edf7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background: rgb(30, 29, 29);
    width: 24%;
    min-width: 300px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 20px 20px 20px;
    border-radius: 10px;

}
.output{
    background:  rgb(30, 29, 29);
    height: 100px;
    color: white;
    font-size: 35px;
    text-align: right;
    padding-top: 40px;
    font-weight: 500;
    outline: none;
    border: none;
}
.keys{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
gap: 11px;
}
.btn{
  padding: 20px;
  background: white;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 0 1px 2px rgb(177, 165, 165);
  cursor: pointer;
  outline: none;
  border: none;
}
.equal{
    
    grid-column: 3/5;
}
.btn:hover{
    background-color: orangered;
    scale: 1.06;
}
.inner{
    color: rgb(4, 173, 173);
}