*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom right , rgb(8, 8, 204) , rgb(42, 1, 145));
 display: grid;
 place-content: center;



}
.container{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.left{
    border: 1px dotted white;
    width: 200px;
    height: 330px;display: grid;
    place-content: center;
    gap: 30px;
 
}
.text{
    width: 160px;
    height: 50px;
    display: grid;
  
  place-content: center;
  border: 1px solid;
  background: white;
}
.right{
    border: 1px dotted white;
    width: 200px;
    height: 330px;display: grid;
    place-content: center;
    gap: 30px;
 
}