*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: url(./backgroundnew1.jpg);
    color: rgb(251, 252, 253);
   
    
 
}
h1{
padding: 50px;
    text-align: center;
}
form{
    display: grid;
    grid-template-columns: 450px 100px;
    grid-template-rows: 60px;
    place-content: center;
    
}
form input{
    border: 0;
    outline: 0;
    padding-left: 30px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    

}
form input::placeholder{
    color: white;
}
form button{
    background: white;
    border: 1px solid white;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
   
    font-size: 16px;
    cursor: pointer;
}
#show-more{
    background: white;
    padding: 10px 20px;
    border: none ;
    border-radius: 5px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin:  auto ;
    display: none;
    
    
}
#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
}
#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}